1.Find the Reverse l=[10, 11, 12, 13, 14, 15].

In [9]:
l=[10, 11, 12, 13, 14, 15]
l.reverse()
l

[15, 14, 13, 12, 11, 10]

2.Turn every item of a list into its square,numbers = [1, 2, 3, 4, 5, 6, 7].

In [10]:
numbers = [1, 2, 3, 4, 5, 6, 7]
new_num=[]
for num in numbers:
    new_num.append(num**2)
print(new_num)

[1, 4, 9, 16, 25, 36, 49]

3. Concatenate two lists in the following order
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

In [11]:
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
list1+list2

['Hello ', 'take ', 'Dear', 'Sir']

4.Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

In [12]:
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
list1.remove("")
list1.remove("")
list1

['Mike', 'Emma', 'Kelly', 'Brad']

5.Write a program to add item 7000 after 6000 in the following Python List
Given:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [13]:
list1[2]

'Kelly'

In [14]:
list1[2][1]

'e'

In [15]:
list1[2][2]

'l'

In [16]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list1[2][2].append(7000)
list1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

6. Turn every item of a list into its square,numbers = [1, 2, 3, 4, 5, 6, 7].

In [17]:
numbers = [1, 2, 3, 4, 5, 6, 7]
new_num=[]
for num in numbers:
    new_num.append(num**2)
print(new_num)

[1, 4, 9, 16, 25, 36, 49]

7.Given a list of numbers, write a Python program to print all even numbers in the given list. a = [2, 7, 5, 64, 14].

In [18]:
a=[2,7,5,64,14]
new_a=[]
for num in a:
    if num%2==0:
        new_a.append(num)
print(new_a)

[2, 64, 14]

8.Given a list of numbers, write a Python program to print all odd numbers in given list.b = [2, 7, 5, 64, 14]

In [19]:
b = [2, 7, 5, 64, 14]
new_b=[]
for num in b:
    if num%2!=0:
        new_b.append(num)
print(new_b)

[7, 5]

9. Write a program to check whether a number entered by user is even or odd.

In [20]:
x=int(input("enter the number"))
if x%2==0:
    print("even")
else:
     print("odd")

enter the number3
odd

In [21]:
x=int(input("enter the number"))
if x%2==0:
    print("even")
else:
     print("odd")

enter the number2
even

10. Write a program to check whether a person is eligible for voting or not. (accept age from user)

In [22]:
age=int(input("enter the age: "))

if age>=18:
        print("you are eligible for voting")
else:
    print("you not are eligible for voting")

enter the age: 18
you are eligible for voting

11. Write a program to check whether a number is divisible by 7 or not.

In [23]:
num=int(input("enter a number: "))

if num%7==0:
    print("the number is divisible by 7")
else:
    print("the number is not divisible by 7")

enter a number: 21
the number is divisible by 7

12. Write a program to display "Hello" if a number entered by user is a multiple of five, otherwise print "Bye".

In [24]:
x=int(input("enter the number: "))
ld=x%10
if ld%5==0:
    print("Hello")
else:
    print("Bye")

enter the number: 50
Hello



13.Write multiple programs which illustrates iteration through various data structures which you learned till now?

In [1]:
name=input("enter a word: ")
listwithIdx=[]
listwithletter=[]
for z in range(len(name)):
    if name[z]=="e":
        listwithIdx.append(z)
        listwithletter.append(name[z])
print(listwithIdx,listwithletter,sep='\n')

enter a word:  Pneumonoultramicroscopicsilicovolcanoconiosis
[3]
['e']

In [2]:
for i in range(0,50,3):
    print(i)

0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [3]:
age=int(input("enter your age: "))
if age<=70:
    print("you can enter")
else:
      print("you cannot enter")

enter your age: 34
you can enter

14.Receive an input text from the user and print all letters except ‘e’ and ‘s’ by using for loop?

In [4]:
name=input("enter a word: ")
for z in name:
    if z=="e":
        continue
    elif z=="s":
        continue
    print(z)

enter a word:  Pneumonoultramicroscopicsilicovolcanoconiosis

P
n
u
m
o
n
o
u
l
t
r
a
m
i
c
r
o
c
o
p
i
c
i
l
i
c
o
v
o
l
c
a
n
o
c
o
n
i
o
i

or

In [5]:
name=input("enter a word: ")
out=""
for z in name:
    if z=="e" or z=="s":
        continue
    out=out+z
print(out)

enter a word: Pneumonoultramicroscopicsilicovolcanoconiosis
Pnumonoultramicrocopicilicovolcanoconioi

15.Return sum of first n numbers with the help of for loop and range function?

In [6]:
number=int(input("enter a number: "))
out=0
for n in range(number+1):
    out=out+n
print(out)

enter a number: 33
561

In [7]:
number=int(input("enter a number: "))
out=0
for n in range(number+1):
    out=out+n
print(out)

enter a number: 44
990

16.Accept a number from the user and return Sum of all natural numbers that are multiples of 5,7 less than the number entered by the user.Eg:Input:20 -5,7,10,14,15 and sum=51?

In [8]:
num=int(input("enter a number: "))
out=0
multiple5and7=[]
summation=[]
for n in range(num):
    if  n%5==0 or n%7==0:
        out=out+n
    
print("sum ofmultiples of 5 and 7 is: ",out )

enter a number: 20
sum ofmultiples of 5 and 7 is:  51

17.Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :
     Unit                                                          Price  
 First 100 units                                                 no charge
 Next 100 units                                                  Rs 5 per unit
 After 200 units                                                 Rs 10 per unit
(For example if input unit is 350 than total bill amount is Rs2000)

In [25]:
amt=0
num=int(input("enter number of units? "))
if num<=100:
    amt=0
elif num>100 and num<=200:
    amt=(num-100)*5
elif num>200:
    amt=(num-200)*10
else:
    print("enter a valid unit")
print("total amount to pay",amt)

enter number of units? 100
total amount to pay 0

18. Write a program to display the last digit of a number.(hint : any number % 10 will return the last digit)

In [27]:
num=int(input("enter the number: "))
ld=num%10
print("last digit of number",ld)

enter the number: 30
last digit of number 0

19. Write a program to check whether the last digit of a number( entered by user ) is divisible by 3 or not.

In [28]:
num=int(input("enter a number: "))
ld=num%10
if ld%3==0:
    print("the number is divisible by 3")
else:
    print("the number is not divisible by 3")

enter a number: 69
the number is divisible by 3

20. Write a program to check whether a number (accepted from user) is positive or negative.

In [31]:
number=int(input("enter the number: "))
if number>=0:
    print("The given number is positive")
else:
    print("The given number is negative")

enter the number: 4
The given number is positive

21.find the square root

In [1]:
num=int(input("enter a number: "))
sq_root=num**0.5
print("square of given number: ",sq_root)

enter a number: 25
square of given number:  5.0

22.to calculate area of a triangle

In [2]:
base=int(input("enter the base: "))
height=int(input("enter the height: "))
area=0.5*base*height
print("area of triangle: ",area)

enter the base: 4
enter the height: 6
area of triangle:  12.0

23.to solve quadratic equation

In [3]:
a=int(input("enter the coeffient of x^2: "))
b=int(input("enter the coeffient of x : "))
c=int(input("enter the constant: "))
def sol_1(a,b,c):
    return ((-b+(b**2-4*a*b*c)**1/2)//(2*a))
def sol_2(a,b,c):
    return ((-b-(b**2-4*a*b*c)**1/2)//(2*a))
print(sol_1(3,4,5))
print(sol_2(3,4,5))

enter the coeffient of x^2: 3
enter the coeffient of x : 4
enter the constant: 5
-20.0
18.0