# problems

## 3.find the square root

In [21]:
num=int(input("enter a number: "))
sq_root=num**0.5
print("square of given number: ",sq_root)

enter a number: 25
square of given number:  5.0

In [28]:

def sq_rt(num):
    return num**0.5

In [29]:
 sq_rt(81)

9.0

## 4.to calculate area of a triangle

In [20]:
base=int(input("enter the base: "))
height=int(input("enter the height: "))
area=0.5*base*height
print("area of triangle: ",area)

enter the base: 4
enter the height: 6
area of triangle:  12.0

## 5.to solve quadratic equation

In [35]:
a=int(input("enter the coeffient of x^2: "))
b=int(input("enter the coeffient of x : "))
c=int(input("enter the constant: "))
def sol_1(a,b,c):
    return ((-b+(b**2-4*a*b*c)**1/2)//(2*a))
def sol_2(a,b,c):
    return ((-b-(b**2-4*a*b*c)**1/2)//(2*a))
print(sol_1(3,4,5))
print(sol_2(3,4,5))

enter the coeffient of x^2: 3
enter the coeffient of x : 4
enter the constant: 5
-20.0
18.0

## 6.to Swap Two Variables

In [62]:
a=int(input("enter a number: "))
b=int(input("enter a number: "))
swap(a,b)

enter a number: 2
enter a number: 3

(3, 2)

In [66]:
def swp(a,b):
    return b,a

In [67]:
swp(2,3)

(3, 2)

## 7. to Generate a Random Number

In [18]:
import random
print(random.randint(1,20))

16

In [19]:
import random
print(random.randint(1,10))

9

## 8.to Convert Kilometers to Miles

In [77]:
def change(km):
    miles=km*0.621371
    return (f"{km}km is equal to {miles}miles")

In [78]:
change(4)

'4km is equal to 2.485484miles'

## 9.to Convert Celsius To Fahrenheit

In [80]:
def change(Celsius):
    Fahrenheit=Celsius*(32+18)
    return (f"{Celsius}Celsius is equal to {Fahrenheit}Fahrenheit")

In [81]:
change(50)

'50Celsius is equal to 2500Fahrenheit'

In [82]:
change(-50)

'-50Celsius is equal to -2500Fahrenheit'

## 10.to Check if a Number is Positive, Negative or 0

In [55]:
number=int(input("enter the number: "))
if number>0:
    print("The given number is positive")
elif num == 0:
    print("Zero")
else:
    print("The given number is negative")

enter the number: 5
The given number is positive

In [56]:
number=int(input("enter the number: "))
if number>0:
    print("The given number is positive")
elif num == 0:
    print("Zero")
else:
    print("The given number is negative")

enter the number: 0
Zero

In [57]:
number=int(input("enter the number: "))
if number>0:
    print("The given number is positive")
elif num == 0:
    print("Zero")
else:
    print("The given number is negative")

enter the number: -8
Zero

## 11.to Check if a Number is Odd or Even

In [58]:
x=int(input("enter the number"))
if x%2==0:
    print("even")
else:
     print("odd")

enter the number4
even

In [59]:
x=int(input("enter the number"))
if x%2==0:
    print("even")
else:
     print("odd")

enter the number3
odd

## 12.to check leap year

In [39]:
import calendar
year=int(input("enter a year: "))
leap_year=calendar.isleap(year)
if leap_year:
    print(year, "is a leapyear")
else:
    print(year, "is a not leapyear")

enter a year: 2014
2014 is a not leapyear

In [40]:
import calendar
year=int(input("enter a year: "))
leap_year=calendar.isleap(year)
if leap_year:
    print(year, "is a leapyear")
else:
    print(year, "is a not leapyear")

enter a year: 2020
2020 is a leapyear

## 13.to Find the Largest Among Three Numbers

In [61]:
a=int(input("enter a number: "))
b=int(input("enter a number: "))
c=int(input("enter a number: "))
if a>=b and a>=c:
    Largest=a
elif b>=a and b>=c:
    Largest=b
else:
    Largest=c
print("The largest number is", Largest)

enter a number: 3
enter a number: 4
enter a number: 6
The largest number is 6

## 14.to Check Prime Number

In [7]:
num=int(input("enter a number: "))
if num>1:
    for n in range(2,num):
        if num%n==0:
            print(num,"is a not prime number")
            break
    else:
        print(num,"is a prime number")
else:
    print(num,"is a not prime number")

enter a number: 3
3 is a prime number

## 15.to Print all Prime Numbers in an Interval

In [12]:
lower_num=int(input("enter the lower interval: "))
upper_num=int(input("enter the upper interval: "))
for num in range(lower_num,upper_num+1):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
            else:
                print(num)
                break

enter the lower interval: 3
enter the upper interval: 17
3
5
7
9
11
13
15
17

## 16.factorial of a number

In [47]:
num=int(input("enter a number:  "))
out=1
if num<0:
    print("factorial does not exist for negative numbers")
elif num==0:
    print("factorial of zero is one")
else:
    for i in range(1,num+1):
        out=out*i
    print("factorial of number is ",out)

enter a number:  -5
factorial does not exist for negative numbers

In [48]:
num=int(input("enter a number:  "))
out=1
if num<0:
    print("factorial does not exist for negative numbers")
elif num==0:
    print("factorial of zero is one")
else:
    for i in range(1,num+1):
        out=out*i
    print("factorial of number is ",out)

enter a number:  5
factorial of number is  120

In [49]:
num=int(input("enter a number:  "))
out=1
if num<0:
    print("factorial does not exist for negative numbers")
elif num==0:
    print("factorial of zero is one")
else:
    for i in range(1,num+1):
        out=out*i
    print("factorial of number is ",out)

enter a number:  0
factorial of zero is one

## 17.to Display the multiplication Table

In [100]:
num = int(input("Display multiplication table of  "))
for i in range(1, 11):
    print(num, 'x', i, '=', num*i)

Display multiplication table of  5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

## 18.to Print the Fibonacci sequence

In [14]:
number=int(input('no of fibonacci numbers needed: '))
first=0
second=1
for num in range(number):
    print(first)
    temp=first
    first=second
    second=temp+second

no of fibonacci numbers needed: 10
0
1
1
2
3
5
8
13
21
34

## 19.to Check Armstrong Number19.

In [6]:
num=input("enter the number: ")

for i in len(num):
    if i**len(num):
        print("the given number is an armstrong")
    else:
        print("the given number is not an armstrong")

enter the number: 19

TypeError: 'int' object is not iterable

## 20.to Find Armstrong Number in an Interval

## 21.to Find the Sum of Natural Numbers

In [8]:
def sums(num):
    add=(num*(num+1))//2
    return add

In [9]:
sums(16)

136

## 22.to Display Powers of 2 Using Anonymous Function

In [13]:
num_of_terms=int(input("How many terms? "))
powers=list(map(lambda x: 2 ** x, range(num_of_terms)))
print("The total terms are:",num_of_terms)
for i in range(num_of_terms):
    print("2 raised to power",i,"is",powers[i])

How many terms? 5
The total terms are: 5
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8
2 raised to power 4 is 16

## 23. to Find Numbers Divisible by Another Number

In [2]:
my_list = [22,66,0,12,63,80,2,4]
divsibility=list(filter(lambda x:(x%3==0),my_list))
print("numbers divisible by 3 are: ",divsibility)

numbers divisible by 3 are:  [66, 0, 12, 63]

## 24.to Convert Decimal to Binary, Octal and Hexadecimal

In [ ]:
num=int(input("enter a decimal number: "))

## 25.to Find ASCII Value of Character

In [2]:
ascii="p"
ord(ascii)

112

In [3]:
def wish(character):
    return ord(character)

In [4]:
wish("k")

107

In [8]:
wish("8")

56

## 26.to Find HCF or GCD

In [18]:
def gcd(a,b):
    if b==0:
        return a
    else:
        return gcd(b,a%b)
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
result=gcd(num1,num2)
print("HCF or GCD of",num1,"and",num2,"is: ",result)

enter the first number23
enter the second number45
HCF or GCD of 23 and 45 is:  1

In [22]:
import math
def num(a,b):
    if b==0:
        return a

## 27.to Find LCM

In [ ]:
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))

In [23]:
def gcd(a,b):
    if b==0:
        return a
    else:
        return gcd(b,a%b)
def lcm(a,b):
    return (a*b)//gcd(a,b)
num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
result=lcm(num1,num2)
print("LCM or GCD of",num1,"and",num2,"is: ",result)

enter the first number10
enter the second number12
LCM or GCD of 10 and 12 is:  60

## 28.to Find the Factors of a Number

In [25]:
num=int(input("enter a number: "))
for n in range(1,num+1):
    if num%n==0:
        print("the factors of" ,num, "are: ",n)

enter a number: 12
the factors of 12 are:  1
the factors of 12 are:  2
the factors of 12 are:  3
the factors of 12 are:  4
the factors of 12 are:  6
the factors of 12 are:  12

## 29.to Make a Simple Calculator

## 30. to Shuffle Deck of Cards

In [18]:
import itertools,random
deck=li

## 31.to display calendar

In [34]:
import calendar
print(calendar.month(2023,7))

     July 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

## 32.to Display Fibonacci Sequence Using Recursion

## 33.to Find Sum of Natural Numbers Using Recursion

## 34.to Find Factorial of Number Using Recursion

## 35.to covert  Decimal to Binary Using Recursion

## 36.Program to Add Two Matrices

## 37. to Transpose a Matrix

## 38.to Multiply Two Matrices

## 39.to check whether a string is palindrome or not

In [35]:
name=input("enter a word: ")
if name==name[::-1]:
    print("it is a palindrome")
else:
     print("it is a not palindrome")

enter a word: noon
it is a palindrome

In [36]:
name=input("enter a word: ")
if name==name[::-1]:
    print("it is a palindrome")
else:
     print("it is a not palindrome")

enter a word: good
it is a not palindrome

## 40. to Remove Punctuations From a String

In [8]:
strr=input("enter a string: ")
no_punct=""
for st in strr:
    if st not in strr:
        no_punct=no_punct+st
print(strr)

enter a string: as@#$gji*&!gh as@#$gji*&!gh
as@#$gji*&!gh as@#$gji*&!gh

## 41.to Sort Words in Alphabetic Order

In [5]:
words=input("enter the words: ")
alphabetic_order=[words.upper() for word in words.split()]
new=alphabetic_order.sort()
print("Words in Alphabetic Order")
for word in new:
    print(new)

enter the words: rftgfsdazc
Words in Alphabetic Order

TypeError: 'NoneType' object is not iterable

In [19]:
def order(words):
    for word in words.split():
        if word.sort():
            return (f"Words in Alphabetic Order",word)

## 42. to Illustrate Different Set Operations

## 43.to Count the Number of Each Vowel

In [19]:
names=input("enter the words: ")
vowels="AEIOUaeiou"
count=0
for vow in names:
    if vow in vowels:
        count=count+1
print("number of VOWELS is: ",count)

enter the words: to Illustrate Different Set Operations
number of VOWELS is:  14

## 44.to Merge Mails

## 45.to Find the Size (Resolution) of a Image

## 46. to Find Hash of File

## 47.to Create Pyramid Patterns

## 48.to Merge Two Dictionaries

## 49. to Safely Create a Nested Directory

## 50. to Access Index of a List Using for Loop

In [ ]:
51.

In [ ]:
52.

In [ ]:
53.

In [ ]:
54.

## 58.to Concatenate Two Lists

In [11]:
num_1=[11,22,33,44,55]
num_2=[66,77,88,99,100]
new_num=num_1+num_2
print(new_num)

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]